<!-- <header class="top"> -->
<div class="meta-data">
  <ul *ngIf="(selectedImage | async) as selectedImage; else notSelectedYet">
    <li>
      <strong>#:</strong>
      <span>{{selectedImage.id}}</span>
    </li>
    <li>
      <strong>W:</strong>
      <span>{{selectedImage.width}}</span>
    </li>
    <li>
      <strong>H:</strong>
      <span>{{selectedImage.height}}</span>
    </li>
    <li>
      <strong>author:</strong>
      <span>{{selectedImage.author}}</span>
    </li>
  </ul>
</div>
<ng-template #notSelectedYet>
  <div class="notSelectedYet">Please select an image..</div>
</ng-template>
