

<!-- <section class="ip-wrapper">

  <header class="ip-header">
    <app-selected-image-metadata></app-selected-image-metadata>
  </header>

  <aside class="ip-aside">
    <app-images-list></app-images-list>
  </aside>

  <main class="ip-main">
    <app-image-view></app-image-view>
  </main>
</section> -->

<section class="ip-wrapper">

	<header class="ip-header">
    <app-selected-image-metadata></app-selected-image-metadata>
	</header>

	<aside class="ip-aside">
    <app-images-list></app-images-list>
	</aside>

    <main class="ip-main">
    <app-image-view></app-image-view>
  </main>
	<!-- <main class="ip-main"> -->

		<!-- <header class="ip-main--header">
      sddsfsdf
		</header> -->

		<!-- <section class="ip-main--content">
      <app-image-view></app-image-view>
		</section>
	</main> -->
</section>
